extends layout

append head-styles
	link(rel='stylesheet', href='styles/example.css')
	link(rel='stylesheet', href='styles/index.css')

block body
	div.div1 Foobar123
	span.div2 Foobar next
	div.div2 Foobar next 2



	.col.col-xs-6 122 
		
	//div.abs#lol
		div.cont
			table.class1
				thead 
					tr 
						td
							span 1
						td 2
						td 3
				tbody
					tr
						td(colspan=2) 1
						td 