extends layout

append head-scripts 
    script(src='scripts/index.js')

append head-styles
    link(rel='stylesheet', href='styles/index.css')
    link(rel='stylesheet', href='styles/example.css')

block body
    div1.cont(ng-app="Caeruleus")

        table.b-schedule-month(b-schedule-month)

            thead.b-schedule-month__head
                tr
                    td.b-schedule-month__col.b-schedule-month__col_head(ng-repeat="hcol in hcols", colspan="{{hcol.colspan}}")
                        span {{hcol.date | date:'MMM' }}

            tbody.b-schedule-month__body
                tr(ng-repeat="row in rows")
                    td.b-schedule-month__col(ng-repeat="col in row", title="{{col}}")
