extends layout



append head-title

    title Таски, таски, таски

append head-styles

    link(rel='stylesheet', href='styles/index.css')
    link(rel='stylesheet', href='components/aeApp/release/styles/bApp.css')
    link(rel='stylesheet', href='components/aeTimeline/release/styles/bTimeline.css')

append head-scripts

    script(src='components/aeApp/release/scripts/bApp.min.js')
    script(src='components/aeTimeline/release/scripts/bTimeline.min.js')
    script(src='scripts/index.js')



append body

    .b-app(b-app, ng-app="Caeruleus")

        div(ng-view)



        .b-app__view(ng-if="isRoute('projects')", ng-controller="CaeruleusProjectsCtrl as projects"): .b-app__view-inner

            .b-app__head
                .b-app__head-hero

                    .row
                        .col.col-xs-12
                            nav
                                a Проекты
                                a(href='#/tags') Теги
                                a(href='#/') Таймлайн

                .b-app__head-menu

                    //.row
                        .col.col-xs-12 12

            .b-app__body: .b-app__body-page



        .b-app__view(ng-if="isRoute('tags')", ng-controller="CaeruleusTagsCtrl as tagsCtrl"): .b-app__view-inner

            .b-app__head
                .b-app__head-hero

                    .row
                        .col.col-xs-12
                            nav
                                //a(href='#/projects') Проекты
                                a Теги
                                a(href='#/') Таймлайн

                .b-app__head-menu

                    //.row
                        .col.col-xs-12 12

            .b-app__body: .b-app__body-page

                .row

                    .col.col-xs-12

                        .b-tags.b-tags_index.columns-xs-3

                            .b-tags__tag(ng-repeat="tag in tags")
                                .b-tag
                                    .b-tag__name {{tag.name}}
                                .b-tags__tag-btn
                                    a(ng-click="tagsCtrl.deleteTag(tag)") ×



        .b-app__view(ng-if="isRoute('schedule')", ng-controller="CaeruleusCtrl as schedule"): .b-app__view-inner

            .b-app__head
                .b-app__head-hero

                    .row
                        .col.col-xs-12
                            nav
                                //a(href='#/projects') Проекты
                                a(href='#/tags') Теги
                                a Таймлайн

                .b-app__head-menu

                    //.row
                        .col.col-xs-12 12

            .b-app__body: .b-app__body-page

                .row

                    .col.col-xs-3
                        .b-schedule__caption-title
                            button(ng-click="selectedIssue={};appDialogToggle('IssueFormDialog')") Add issue
                        .b-schedule__caption-issue
                            a(ng-class="{_active:filterByState=='open'}", ng-click="filterIssueByState('open')") open
                            a(ng-class="{_active:filterByState=='closed'}", ng-click="filterIssueByState('closed')") closed

                    .col.col-xs-9
                        .row
                            .col.col-xs-4
                                .b-schedule__caption-nav.b-schedule__caption-nav_prev(ng-if="schedule.mode=='week'")
                                    a(ng-href="#/?view=week&date={{getPrevWeekDate().toUTCString()}}") ←←←
                                .b-schedule__caption-nav.b-schedule__caption-nav_prev(ng-if="schedule.mode=='day'")
                                    a(ng-href="#/?view=day&date={{getPrevDayDate().toUTCString()}}") ←←
                                .b-schedule__caption-nav.b-schedule__caption-nav_prev(ng-if="schedule.mode=='hour'")
                                    a(ng-href="#/?view=hour&date={{getPrevHourDate().toUTCString()}}") ←
                            .col.col-xs-4
                                .b-schedule__caption-nav.b-schedule__caption-nav_mode
                                    a(href="#/?view=hour", ng-class="{_active:schedule.mode=='hour'}" style="padding: 0 15px;"): u HOUR
                                    a(href="#/?view=day", ng-class="{_active:schedule.mode=='day'}" style="padding: 0 15px;"): u DAY
                                    a(href="#/?view=week", ng-class="{_active:schedule.mode=='week'}" style="padding: 0 15px;"): u WEEK
                            .col.col-xs-4
                                .b-schedule__caption-nav.b-schedule__caption-nav_next(ng-if="schedule.mode=='hour'")
                                    a(ng-href="#/?view=hour&date={{getNextHourDate().toUTCString()}}") →
                                .b-schedule__caption-nav.b-schedule__caption-nav_next(ng-if="schedule.mode=='day'")
                                    a(ng-href="#/?view=day&date={{getNextDayDate().toUTCString()}}") →→
                                .b-schedule__caption-nav.b-schedule__caption-nav_next(ng-if="schedule.mode=='week'")
                                    a(ng-href="#/?view=week&date={{getNextWeekDate().toUTCString()}}") →→→
                        .row
                            .col.col-xs-12
                                .b-schedule__caption-interval {{getBeginDate()|date:'dd.MM.yyyy HH:mm'}} — {{getEndDate()|date:'dd.MM.yyyy HH:mm'}}

                .row

                    .b-schedule(ng-if="schedule.mode=='hour'||schedule.mode=='day'||schedule.mode=='week'", ng-class="{'b-schedule_hour':schedule.mode=='hour','b-schedule_day':schedule.mode=='day','b-schedule_week':schedule.mode=='week'}")

                        .b-schedule__head
                            .b-schedule__row

                                .b-schedule__col.b-schedule__col_title

                                .b-schedule__col.b-schedule__col_timeline
                                    .b-schedule-chunks
                                        .b-schedule-chunks__chunk(ng-repeat="chunk in chunks", ng-class="{'b-schedule-chunks__chunk_now':isNowInterval(chunk)}")
                                            div(ng-if="schedule.mode=='hour'")
                                                //b: small {{chunk.beginDate|date:'HH:mm'}}
                                                a() {{chunk.beginDate|date:'mm'}}
                                            div(ng-if="schedule.mode=='day'")
                                                //b: small {{chunk.beginDate|date:'HH:mm'}}
                                                a(ng-href="#/?view=hour&date={{chunk.beginDate.toUTCString()}}") {{chunk.beginDate|date:'HH'}}
                                            div(ng-if="schedule.mode=='week'")
                                                //b: small {{chunk.beginDate|date:'dd.MM'}}
                                                a(ng-href="#/?view=day&date={{chunk.beginDate.toUTCString()}}") {{chunk.beginDate|date:'dd'}}

                        .b-schedule__body(ng-repeat="issue in matchedIssues | filter:filterIssue track by issue.guid")
                            .b-schedule__row

                                .b-schedule__col.b-schedule__col_title
                                    a(ng-click="pickIssue(issue); appDialogToggle('IssueViewDialog')"): u {{issue.title}}

                                .b-schedule__col.b-schedule__col_timeline

                                    .b-schedule-timeline(b-timeline, timeline-begin-date="getBeginDate()", timeline-end-date="getEndDate()", timeline-intervals="issue.intervals")
                                        div(b-timeline-template="interval", use="['bTimeline','interval']")
                                            div(b-timeline-interval)
                                                div(b-timeline-interval-template="interval", use="['bTimelineInterval']")

                                                    .b-timeline-interval__interval.b-timeline-interval__interval_draft(ng-if="pickedIssueInterval(issue, interval)", ng-style="{left:bTimeline.calcIntervalLeft($pickedIssueIntervalDraft),right:bTimeline.calcIntervalRight($pickedIssueIntervalDraft)}")
                                                        .b-timeline-interval__interval__btn

                                                    .b-timeline-interval__interval(ng-class="{'b-timeline-interval__interval_orign':pickedIssueInterval(issue, interval)}" ng-style="{left:bTimeline.calcIntervalLeft(interval),right:bTimeline.calcIntervalRight(interval)}")
                                                        .b-timeline-interval__interval__btn(ng-click="pickIssueInterval(issue, interval)")
                                                        .b-timeline-interval__interval__form(ng-if="pickedIssueInterval(issue, interval)", ng-click="$event.stopPropagation()")
                                                            .b-timeline-interval-form
                                                                .b-timeline-interval-form__main

                                                                    .b-input-datetime(b-input-datetime)
                                                                        .b-input-datetime__t

                                                                            .b-input-datetime__t__c.b-input-datetime__t__c_input
                                                                                .b-input-date
                                                                                    .b-input-date__btn.b-input-date__btn_next
                                                                                        button(ng-click="incrBeginHours($pickedIssueIntervalDraft)") +
                                                                                    .b-input-date__input
                                                                                        input(readonly, value="{{$pickedIssueIntervalDraft.beginDate|date:'HH'}}")
                                                                                    .b-input-date__btn.b-input-date__btn_prev
                                                                                        button(ng-click="decrBeginHours($pickedIssueIntervalDraft)") −

                                                                            .b-input-datetime__t__c.b-input-datetime__t__c_label &#x3A;

                                                                            .b-input-datetime__t__c.b-input-datetime__t__c_input
                                                                                .b-input-date
                                                                                    .b-input-date__btn.b-input-date__btn_next
                                                                                        button(ng-click="incrBeginMinutes($pickedIssueIntervalDraft)") +
                                                                                    .b-input-date__input
                                                                                        input(readonly, value="{{$pickedIssueIntervalDraft.beginDate|date:'mm'}}")
                                                                                    .b-input-date__btn.b-input-date__btn_prev
                                                                                        button(ng-click="decrBeginMinutes($pickedIssueIntervalDraft)") −

                                                                            .b-input-datetime__t__c.b-input-datetime__t__c_label &mdash;

                                                                            .b-input-datetime__t__c.b-input-datetime__t__c_input
                                                                                .b-input-date
                                                                                    .b-input-date__btn.b-input-date__btn_next
                                                                                        button(ng-click="incrEndHours($pickedIssueIntervalDraft)") +
                                                                                    .b-input-date__input
                                                                                        input(readonly, value="{{$pickedIssueIntervalDraft.endDate|date:'HH'}}")
                                                                                    .b-input-date__btn.b-input-date__btn_prev
                                                                                        button(ng-click="decrEndHours($pickedIssueIntervalDraft)") −

                                                                            .b-input-datetime__t__c.b-input-datetime__t__c_label &#x3A;

                                                                            .b-input-datetime__t__c.b-input-datetime__t__c_input
                                                                                .b-input-date
                                                                                    .b-input-date__btn.b-input-date__btn_next
                                                                                        button(ng-click="incrEndMinutes($pickedIssueIntervalDraft)") +
                                                                                    .b-input-date__input
                                                                                        input(readonly, value="{{$pickedIssueIntervalDraft.endDate|date:'mm'}}")
                                                                                    .b-input-date__btn.b-input-date__btn_prev
                                                                                        button(ng-click="decrEndMinutes($pickedIssueIntervalDraft)") −

                                                                    button(ng-click="saveIssueInterval(issue, interval);", ng-disabled="pristinePickedIssueInterval(issue, interval)") save interval
                                                                    button(ng-click="deleteIssueInterval(issue, interval)") delete
                                                                    button(ng-click="unpickIssueInterval(issue, interval)") close

                                    .b-schedule-chunks
                                        .b-schedule-chunks__chunk(ng-repeat="chunk in chunks")
                                            .b-schedule-chunks__chunk__btn(ng-click="pickIssueTimeline(issue, chunk)")
                                            .b-timeline-interval-form(ng-if="pickedIssueTimeline(issue, chunk)", ng-click="$event.stopPropagation()")
                                                .b-timeline-interval-form__main
                                                    button(ng-click="createIssueInterval(issue, chunk)") create interval
                                                    button(ng-click="unpickIssueTimeline(issue, chunk)") close
                .row
                    .col.col-xs-12  
                    .col.col-xs-12
                        ul.b-tags
                            li.b-tags__tag(ng-repeat="tag in tagsIdx")
                                a.b-tag(ng-class="{'b-tag__active':selectedTags[tag.name]}" ng-click="selectTag(tag)||unselectTag(tag)") {{tag.name}}
                                span(ng-if="!$last") ,

                .app-dialog(b-app-dialog="IssueFormDialog", ng-form="IssueForm", ng-controller="IssueFormCtrl")

                    .app-dialog__head
                        .app-dialog__heading New issue

                    .app-dialog__body
                        .row

                            .col.col-xs-12.col-md-4.col-md-push-8
                                .row
                                    .col.col-xs-12
                                        span
                                            select(ng-model="selectedIssue.state", ng-options="state for state in ['open','closed']", required)
                                .row
                                    .col.col-xs-12
                                        span(ng-repeat="tag in selectedIssueTags")
                                            a() {{tag.name}}
                                            span(ng-if="!$last") , 

                            fieldset.app-form.col.col-xs-12.col-md-8.col-md-pull-4
                                .row
                                    label.col.col-xs-3.col-lg-2(required) Title
                                    input.col.col-xs-9.col-lg-10(name="title", ng-model="selectedIssue.title", required)
                                .row
                                    label.col.col-xs-3.col-lg-2() Tags
                                    input.col.col-xs-9.col-lg-10(name="tags", ng-model="selectedIssue.tags", ng-list)
                                .row
                                    label.col.col-xs-3.col-lg-2() Details
                                    textarea.col.col-xs-9.col-lg-10(name="content", ng-model="selectedIssue.content", rows="{{((selectedIssue.content.split('\n').length + 1) > 7 && selectedIssue.content.split('\n').length + 1) || 7}}")

                    .app-dialog__foot
                        .row
                            .col.col-xs-12.col-md-8
                                .row
                                    .col.col-xs-3.col-lg-2  
                                    button.col.col-xs-5.col-lg-5(ng-click="saveIssue(selectedIssue, IssueForm)" ng-disabled="IssueForm.$invalid") Submit new issue

                .app-dialog(b-app-dialog="IssueViewDialog", ng-form="IssueForm", ng-controller="IssueFormCtrl")

                    .app-dialog__head
                        .app-dialog__heading Issue 
                            button(ng-show="'edit'==AppDialog.mode", ng-click="AppDialog.mode='view'") view
                            button(ng-show="'view'==AppDialog.mode", ng-click="AppDialog.mode='edit'") edit
                            button(ng-show="'edit'==AppDialog.mode", ng-click="deleteIssue(selectedIssue)") delete
                            button(ng-if="!selectedIssue.startedAt", ng-click="startWork(selectedIssue)") ► Start work
                            button(ng-if="selectedIssue.startedAt", ng-click="stopWork(selectedIssue)") ■ Stop work


                    .app-dialog__body(ng-show="'view'==AppDialog.mode")
                        .row

                            .col.col-xs-12.col-md-4.col-md-push-8
                                .row
                                    .col.col-xs-12
                                        span
                                            select(ng-model="selectedIssue.state", ng-options="state for state in ['open','closed']", required)
                                .row
                                    .col.col-xs-12
                                        span(ng-repeat="tag in selectedIssueTags")
                                            a() {{tag.name}}
                                            span(ng-if="!$last") , 

                            .app-form.col.col-xs-12.col-md-8.col-md-pull-4
                                .row
                                    .col.col-xs-3.col-lg-2  
                                    div.col.col-xs-9.col-lg-10
                                        strong {{selectedIssue.title}}
                                .row
                                    label.col.col-xs-3.col-lg-2  
                                    div.col.col-xs-9.col-lg-10
                                        span {{selectedIssue.content}}

                    .app-dialog__body(ng-show="'edit'==AppDialog.mode")
                        .row

                            .col.col-xs-12.col-md-4.col-md-push-8
                                .row
                                    .col.col-xs-12
                                        span(ng-repeat="tag in selectedIssueTags")
                                            a() {{tag.name}}
                                            span(ng-if="!$last") , 

                            fieldset.app-form.col.col-xs-12.col-md-8.col-md-pull-4
                                .row
                                    label.col.col-xs-3.col-lg-2(required) Title
                                    input.col.col-xs-9.col-lg-10(name="title", ng-model="selectedIssue.title", required)
                                .row
                                    label.col.col-xs-3.col-lg-2() Tags
                                    input.col.col-xs-9.col-lg-10(name="tags", ng-model="selectedIssue.tags", ng-list)
                                .row
                                    label.col.col-xs-3.col-lg-2() Details
                                    textarea.col.col-xs-9.col-lg-10(name="content", ng-model="selectedIssue.content", rows="{{((selectedIssue.content.split('\n').length + 1) > 7 && selectedIssue.content.split('\n').length + 1) || 7}}")


                    .app-dialog__foot(ng-show="'edit'==AppDialog.mode||IssueForm.$dirty")
                        .row
                            .col.col-xs-12.col-md-8
                                .row
                                    .col.col-xs-3.col-lg-2  
                                    button.col.col-xs-5.col-lg-6(ng-click="saveIssue(selectedIssue, IssueForm)" ng-disabled="IssueForm.$invalid") Save issue
                                    button.col.col-xs-2.col-lg-2(ng-click="mode='view';") Cancel
                                    button.col.col-xs-2.col-lg-2(ng-click="mode='view';AppDialog.resolve(false)") Close

        .app-overlay(ng-repeat="(key, dialog) in dialogs", ng-if="dialog.$shown", ng-controller="AppDialogCtrl as AppDialog")
            .app-overlay__bg(ng-click="AppDialog.resolve(false)")
            .app-overlay__dialog(b-app-dialog-transclude="{{key}}")
