extends layout



append head-title

    title Таски, таски, таски

append head-styles

    link(rel='stylesheet', href='styles/index.css')

append head-scripts

    script(src='scripts/index.js')



append body

    .b-app(app, ng-app="Caeruleus")

        div(ng-view)

        .b-app__body(ng-if="isRoute('schedule')", b-schedule)

            table.b-table.b-table-schedule

                caption.b-table-schedule__caption
                    .b-table-schedule__caption-title
                        button(ng-click="appDialogToggle('IssueFormDialog')") Add issue
                    .b-table-schedule__caption-nav
                        .b-table-schedule__caption-nav-prev(ng-if="schedule.mode=='week'")
                            a(ng-href="#/?view=week&date={{getPrevWeekDate().toUTCString()}}") ←←←
                        .b-table-schedule__caption-nav-prev(ng-if="schedule.mode=='day'")
                            a(ng-href="#/?view=day&date={{getPrevDayDate().toUTCString()}}") ←←
                        .b-table-schedule__caption-nav-prev(ng-if="schedule.mode=='hour'")
                            a(ng-href="#/?view=hour&date={{getPrevHourDate().toUTCString()}}") ←
                        .b-table-schedule__caption-nav-mode
                            a(href="#/?view=hour", ng-class="{_active:schedule.mode=='hour'}"): u HOUR
                            a(href="#/?view=day", ng-class="{_active:schedule.mode=='day'}"): u DAY
                            a(href="#/?view=week", ng-class="{_active:schedule.mode=='week'}"): u WEEK
                        .b-table-schedule__caption-nav-next(ng-if="schedule.mode=='hour'")
                            a(ng-href="#/?view=hour&date={{getNextHourDate().toUTCString()}}") →
                        .b-table-schedule__caption-nav-next(ng-if="schedule.mode=='day'")
                            a(ng-href="#/?view=day&date={{getNextDayDate().toUTCString()}}") →→
                        .b-table-schedule__caption-nav-next(ng-if="schedule.mode=='week'")
                            a(ng-href="#/?view=week&date={{getNextWeekDate().toUTCString()}}") →→→

                //thead.b-table__head.b-table-schedule__head
                    tr
                        th.b-table__cel.b-table-schedule__cel_title
                        th.b-table__cel.b-table-schedule__cel_chunk.b-table-schedule__chunk-head(ng-repeat="chunk in schedule.chunks", ng-class="{'b-table-schedule__cel_chunk-first':$first,'b-table-schedule__cel_chunk-even':$even,'b-table-schedule__cel_chunk-odd':$odd,'b-table-schedule__cel_chunk-last':$last}" title="{{chunk.beginDate}} — {{chunk.endDate}}") h

                thead.b-table__head.b-table-schedule__head.b-table-schedule__head_last
                    tr
                        th.b-table__cel.b-table-schedule__cel_title
                        th.b-table__cel.b-table-schedule__cel_chunk.b-table-schedule__chunk-head(ng-repeat="chunk in schedule.chunks", ng-class="{'b-table-schedule__cel_chunk-first':$first,'b-table-schedule__cel_chunk-even':$even,'b-table-schedule__cel_chunk-odd':$odd,'b-table-schedule__cel_chunk-last':$last}" title="{{chunk.beginDate}} — {{chunk.endDate}}")
                            .b-table-schedule__chunk-head__head(ng-if="schedule.mode=='hour'")
                                label {{chunk.beginDate | date:'HH:mm'}}
                            .b-table-schedule__chunk-head__head(ng-if="schedule.mode=='day'")
                                label {{chunk.beginDate | date:'HH.mm'}}
                                a(ng-href="#/?view=hour&date={{chunk.beginDate.toUTCString()}}")
                            .b-table-schedule__chunk-head__head(ng-if="schedule.mode=='week'")
                                label {{chunk.beginDate | date:'MM.dd'}}
                                a(ng-href="#/?view=day&date={{chunk.beginDate.toUTCString()}}")

                tbody.b-table__body(ng-repeat="issue in schedule.issues track by issue.guid", ng-class="{'b-table__body_last':$last,_isStarted:issue.startedAt}")
                    tr(ng-controller="ScheduleIssueCtrl as scheduleIssue")

                        td.b-table__cel.b-table-schedule__cel_title
                            .b-table-schedule__issue-title
                                a(ng-click="selectIssue(issue); appDialogToggle('IssueViewDialog')"): u {{issue.title}}

                        td.b-table__cel.b-table-schedule__cel_chunk(ng-repeat="issueChunk in scheduleIssue.chunks", ng-class="{'b-table__cel_first':$first,'b-table__cel_last':$last}")
                            .b-table-schedule__cel
                                .b-table-schedule__cel-interval(ng-repeat="issueChunkInterval in issueChunk.intervals track by $index", ng-class="{_isBegin:issueChunkInterval.isBegin,_isEnd:issueChunkInterval.isEnd,_isStarted:issue.startedAt}" ng-style="{left:calcChunkIntervalLeft(issueChunk,issueChunkInterval), right:calcChunkIntervalRight(issueChunk,issueChunkInterval)}")

            .app-dialog(app-dialog="IssueFormDialog", ng-form="IssueForm", ng-controller="IssueFormCtrl")

                .app-dialog__head
                    .app-dialog__heading New issue

                .app-dialog__body
                    .row

                        .col.col-xs-12.col-md-4.col-md-push-8
                            .row
                                .col.col-xs-12 ...

                        fieldset.app-form.col.col-xs-12.col-md-8.col-md-pull-4
                            .row
                                label.col.col-xs-3.col-lg-2(required) Title
                                input.col.col-xs-9.col-lg-10(name="title", ng-model="issue.title", required)
                            .row
                                label.col.col-xs-3.col-lg-2() Tags
                                input.col.col-xs-9.col-lg-10(name="tags", ng-model="issue.tags", ng-list)
                            .row
                                label.col.col-xs-3.col-lg-2() Details
                                textarea.col.col-xs-9.col-lg-10(name="content", ng-model="issue.content", rows="{{((issue.content.split('\n').length + 1) > 7 && issue.content.split('\n').length + 1) || 7}}")

                .app-dialog__foot
                    .row
                        .col.col-xs-12.col-md-8
                            .row
                                .col.col-xs-3.col-lg-2  
                                button.col.col-xs-5.col-lg-5(ng-click="saveIssue(issue, IssueForm)" ng-disabled="IssueForm.$invalid") Submit new issue

            .app-dialog(app-dialog="IssueViewDialog")

                .app-dialog__head
                    .app-dialog__heading Issue

                .app-dialog__body(ng-form="IssueForm", ng-controller="IssueFormCtrl")
                    .row

                        .col.col-xs-12.col-md-4.col-md-push-8
                            .row
                                .col.col-xs-12 ...

                        .app-form.col.col-xs-12.col-md-8.col-md-pull-4
                            .row
                                .col.col-xs-3.col-lg-2
                                .col.col-xs-9.col-lg-10

                                    h2 {{selectedIssue.title}}

                                    button(ng-if="!selectedIssue.startedAt", ng-click="startWork(selectedIssue)") ►
                                    button(ng-if="selectedIssue.startedAt", ng-click="stopWork(selectedIssue)") ■

                                    div {{selectedIssue.content}}

                                    button(ng-click="deleteIssue(selectedIssue)", style="float:right") DELETE

        .app-overlay(ng-repeat="(key, dialog) in appDialog")
            .app-overlay__bg(ng-if="dialog.$shown", ng-click="appDialogHide(key)")
            .app-overlay__dialog(ng-if="dialog.$shown", app-dialog-transclude="{{key}}")
