doctype html
html(lang='ru')

    head: block head

        meta(charset="utf-8")

        block head-title

        block head-styles

        block head-scripts

            script(src='components/jquery/dist/jquery.min.js')

            script(src='components/angular/angular.min.js')
            script(src='components/angular-route/angular-route.min.js')
            script(src='components/angular-i18n/angular-locale_ru.js')

            script(src='components/localforage/dist/localforage.nopromises.min.js')

    body
        block body
