body {
  font-family: arial, sans-serif;
  font-size: 14px;
}
.b-schedule-month {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
.b-schedule-month__col {
  background-color: #E2E2E2;
  border: 1px solid #FFF;
  width: 15px;
  height: 15px;
  text-align: center;
  color: #aaa;
}
.b-schedule-month__col_head {
  width: auto;
  background: transparent;
}
