.tc1 {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
tbody > tr > .tdclass {
  background-color: #E2E2E2;
  border: 2px solid #FFF;
  width: 11px;
  height: 11px;
  text-align: center;
}
.tdclass0 {
  border: 2px solid #FFF;
  width: 11px;
  height: 11px;
  text-align: center;
}
/*
Metric - Collect Call (Adventure Club Dubstep Remix).tc1 {
	position: relative;
	border-collapse: collapse;
}
.tc11 {
	width: 310px;

}
.tc102 {
	text-align: center;
	width: 100%;
}
.tc12 {
	width: 100%;
}
.tc1 > .tr {
border: 2px solid #EE00EE;
}*/
/* Написано: 19-20.11.2014
* {
	box-sizing: border-box;
}

.div1 {
	color: red;
}
.div2 {
	color: blue;
}
.class1 {
	float: right; //плавает справа от элемента / документа-вся страница / объекта
	width: 100%;
	border: 1px solid #FFF; // грницы и заливка 
	border-collapse: collapse; //слияние ячеек  - границы в пикселя 1 и 1 или 1
	background: #F2F2F2;
	padding: 10px; //внутренний отступ 

}
.class1 td span {//на элемент 
	color: red; 
}
}
.class1 td {
border: 2px solid #FFF; // грницы и заливка 

}
.menu {
	float: right; //плавание 
	white-space: nowrap; // место: не обрывать строки 
	overflow: hidden; // скрывать то, что не влезло 
	text-overflow: ellipsis; // точки вместо скрытого/наехавшего/((как логотип)) текста 
	//width: 200px;
}
.cont {
	margin-right: 200px; //отступ MARGIN 
}
.abs {
	position: relative; // занимать всё пространство 
}
.abs > .menu,
.abs > .menu2 {

}
 //и меняем только вложенное 
#lol {

	background: orange;
}
td {
	color: red;
	border: 5px solid cyan;
}*/
