.b-tags {
    display: block; list-style: none;
    margin: 0; padding: 0; border: 0;

    &__tag {
        display: inline-block;
        margin: 0; padding: 0;
    }
}

.b-tag {
    display: inline-block;
    margin: 0; padding: 0 5px;
    line-height: 20px;
    font-size: 12px;
    background: #e2e2e2;

    &__active {
        background: #4082C4;
        color: #e2e2e2;
        &:hover {
            color: #fff;
        }
    }
}
