* {
    box-sizing: border-box;
}
:before,
:after {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    margin: 0; padding: 0;
}

body {
    padding: 30px;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #373737;
}

a {
    color: #4082C4;
    cursor: pointer;

    &, & > u {
        text-decoration: none;
    }
    & > u {
        line-height: 18px;
        border-bottom: 1px dashed #b2b2b2;
    }

    &:hover {
        color: #373737;
    }
    &:hover > u {
        border-bottom-color: #a2a2a2;
    }

    &._active {
        color: black;
        & > u {
            border-bottom-color: transparent;
        }
    }
}

button {
    display: inline-block;
    width: auto; height: auto;
    margin: 0; padding: 0px 9px;
    line-height: 18px;
    font-family: inherit;
    font-size: 14px;
    color: #373737;
    background: #e2e2e2;
    border: 1px solid;
    border-color: #fff #b2b2b2 #b2b2b2 #fff;
    outline: 0;
    text-shadow: -1px -1px 0 rgba(255,255,255,.37);
    box-shadow: 0 0 0 5px #f2f2f2;

    &:active {
        //border-color: #b2b2b2 #fff #fff #b2b2b2;
        box-shadow: 0 0 0 5px #f2f2f2, inset 1px 0 0 0 rgba(178,178,178,.37), inset -1px 0 0 0 rgba(255,255,255,.37), inset 0 1px 0 0 rgba(178,178,178,.37), inset 0 -1px 0 0 rgba(255,255,255,.37);
        text-shadow: 1px 1px 0 rgba(255,255,255,.37);
    }

    &:disabled {
        color: #a2a2a2;
    }
}



.row {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;

    &:before,
    &:after {
        display: table; content: '';
        float: none;
    }
    &:after {
        clear: both;
    }
}

.col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-12 {
    width: (100%);
}
.col-xs-11 {
    width: (100%) / (12 / 11);
}
.col-xs-10 {
    width: (100%) / (12 / 10);
}
.col-xs-9 {
    width: (100%) / (12 / 9);
}
.col-xs-8 {
    width: (100%) / (12 / 8);
}
.col-xs-7 {
    width: (100%) / (12 / 7);
}
.col-xs-6 {
    width: (100%) / (12 / 6);
}
.col-xs-5 {
    width: (100%) / (12 / 5);
}
.col-xs-4 {
    width: (100%) / (12 / 4);
}
.col-xs-3 {
    width: (100%) / (12 / 3);
}
.col-xs-2 {
    width: (100%) / (12 / 2);
}
.col-xs-1 {
    width: (100%) / 12;
}

.col-xs-pull-12 {
    right: (100%);
}
.col-xs-pull-11 {
    right: (100%) - ((100%) / 12);
}
.col-xs-pull-10 {
    right: (100%) - ((100%) / (12 / 2));
}
.col-xs-pull-9 {
    right: (100%) - ((100%) / (12 / 3));
}
.col-xs-pull-8 {
    right: (100%) - ((100%) / (12 / 4));
}
.col-xs-pull-7 {
    right: (100%) - ((100%) / (12 / 5));
}
.col-xs-pull-6 {
    right: (100%) - ((100%) / (12 / 6));
}
.col-xs-pull-5 {
    right: (100%) - ((100%) / (12 / 7));
}
.col-xs-pull-4 {
    right: (100%) - ((100%) / (12 / 8));
}
.col-xs-pull-3 {
    right: (100%) - ((100%) / (12 / 9));
}
.col-xs-pull-2 {
    right: (100%) - ((100%) / (12 / 10));
}
.col-xs-pull-1 {
    right: (100%) - ((100%) / (12 / 11));
}
.col-xs-pull-0 {
    right: 0;
}

.col-xs-push-12 {
    left: (100%);
}
.col-xs-push-11 {
    left: (100%) - ((100%) / 12);
}
.col-xs-push-10 {
    left: (100%) - ((100%) / (12 / 2));
}
.col-xs-push-9 {
    left: (100%) - ((100%) / (12 / 3));
}
.col-xs-push-8 {
    left: (100%) - ((100%) / (12 / 4));
}
.col-xs-push-7 {
    left: (100%) - ((100%) / (12 / 5));
}
.col-xs-push-6 {
    left: (100%) - ((100%) / (12 / 6));
}
.col-xs-push-5 {
    left: (100%) - ((100%) / (12 / 7));
}
.col-xs-push-4 {
    left: (100%) - ((100%) / (12 / 8));
}
.col-xs-push-3 {
    left: (100%) - ((100%) / (12 / 9));
}
.col-xs-push-2 {
    left: (100%) - ((100%) / (12 / 10));
}
.col-xs-push-1 {
    left: (100%) - ((100%) / (12 / 11));
}
.col-xs-push-0 {
    left: 0;
}

.columns-xs-1 {
    -webkit-columns: 1;
    columns: 1;
}
.columns-xs-2 {
    -webkit-columns: 2;
    columns: 2;
}
.columns-xs-3 {
    -webkit-columns: 3;
    columns: 3;
}

@media (min-width: 768px) {

    .col-sm-12 {
        width: (100%);
    }
    .col-sm-11 {
        width: (100%) / (12 / 11);
    }
    .col-sm-10 {
        width: (100%) / (12 / 10);
    }
    .col-sm-9 {
        width: (100%) / (12 / 9);
    }
    .col-sm-8 {
        width: (100%) / (12 / 8);
    }
    .col-sm-7 {
        width: (100%) / (12 / 7);
    }
    .col-sm-6 {
        width: (100%) / (12 / 6);
    }
    .col-sm-5 {
        width: (100%) / (12 / 5);
    }
    .col-sm-4 {
        width: (100%) / (12 / 4);
    }
    .col-sm-3 {
        width: (100%) / (12 / 3);
    }
    .col-sm-2 {
        width: (100%) / (12 / 2);
    }
    .col-sm-1 {
        width: (100%) / 12;
    }

    .col-sm-pull-12 {
        right: (100%);
    }
    .col-sm-pull-11 {
        right: (100%) - ((100%) / 12);
    }
    .col-sm-pull-10 {
        right: (100%) - ((100%) / (12 / 2));
    }
    .col-sm-pull-9 {
        right: (100%) - ((100%) / (12 / 3));
    }
    .col-sm-pull-8 {
        right: (100%) - ((100%) / (12 / 4));
    }
    .col-sm-pull-7 {
        right: (100%) - ((100%) / (12 / 5));
    }
    .col-sm-pull-6 {
        right: (100%) - ((100%) / (12 / 6));
    }
    .col-sm-pull-5 {
        right: (100%) - ((100%) / (12 / 7));
    }
    .col-sm-pull-4 {
        right: (100%) - ((100%) / (12 / 8));
    }
    .col-sm-pull-3 {
        right: (100%) - ((100%) / (12 / 9));
    }
    .col-sm-pull-2 {
        right: (100%) - ((100%) / (12 / 10));
    }
    .col-sm-pull-1 {
        right: (100%) - ((100%) / (12 / 11));
    }
    .col-sm-pull-0 {
        right: 0;
    }

    .col-sm-push-12 {
        left: (100%);
    }
    .col-sm-push-11 {
        left: (100%) - ((100%) / 12);
    }
    .col-sm-push-10 {
        left: (100%) - ((100%) / (12 / 2));
    }
    .col-sm-push-9 {
        left: (100%) - ((100%) / (12 / 3));
    }
    .col-sm-push-8 {
        left: (100%) - ((100%) / (12 / 4));
    }
    .col-sm-push-7 {
        left: (100%) - ((100%) / (12 / 5));
    }
    .col-sm-push-6 {
        left: (100%) - ((100%) / (12 / 6));
    }
    .col-sm-push-5 {
        left: (100%) - ((100%) / (12 / 7));
    }
    .col-sm-push-4 {
        left: (100%) - ((100%) / (12 / 8));
    }
    .col-sm-push-3 {
        left: (100%) - ((100%) / (12 / 9));
    }
    .col-sm-push-2 {
        left: (100%) - ((100%) / (12 / 10));
    }
    .col-sm-push-1 {
        left: (100%) - ((100%) / (12 / 11));
    }
    .col-sm-push-0 {
        left: 0;
    }

    .columns-sm-1 {
        -webkit-columns: 1;
        columns: 1;
    }
    .columns-sm-2 {
        -webkit-columns: 2;
        columns: 2;
    }
    .columns-sm-3 {
        -webkit-columns: 3;
        columns: 3;
    }
}

@media (min-width: 992px) {

    .col-md-12 {
        width: (100%);
    }
    .col-md-11 {
        width: (100%) / (12 / 11);
    }
    .col-md-10 {
        width: (100%) / (12 / 10);
    }
    .col-md-9 {
        width: (100%) / (12 / 9);
    }
    .col-md-8 {
        width: (100%) / (12 / 8);
    }
    .col-md-7 {
        width: (100%) / (12 / 7);
    }
    .col-md-6 {
        width: (100%) / (12 / 6);
    }
    .col-md-5 {
        width: (100%) / (12 / 5);
    }
    .col-md-4 {
        width: (100%) / (12 / 4);
    }
    .col-md-3 {
        width: (100%) / (12 / 3);
    }
    .col-md-2 {
        width: (100%) / (12 / 2);
    }
    .col-md-1 {
        width: (100%) / 12;
    }

    .col-md-pull-12 {
        right: (100%);
    }
    .col-md-pull-11 {
        right: (100%) - ((100%) / 12);
    }
    .col-md-pull-10 {
        right: (100%) - ((100%) / (12 / 2));
    }
    .col-md-pull-9 {
        right: (100%) - ((100%) / (12 / 3));
    }
    .col-md-pull-8 {
        right: (100%) - ((100%) / (12 / 4));
    }
    .col-md-pull-7 {
        right: (100%) - ((100%) / (12 / 5));
    }
    .col-md-pull-6 {
        right: (100%) - ((100%) / (12 / 6));
    }
    .col-md-pull-5 {
        right: (100%) - ((100%) / (12 / 7));
    }
    .col-md-pull-4 {
        right: (100%) - ((100%) / (12 / 8));
    }
    .col-md-pull-3 {
        right: (100%) - ((100%) / (12 / 9));
    }
    .col-md-pull-2 {
        right: (100%) - ((100%) / (12 / 10));
    }
    .col-md-pull-1 {
        right: (100%) - ((100%) / (12 / 11));
    }
    .col-md-pull-0 {
        right: 0;
    }

    .col-md-push-12 {
        left: (100%);
    }
    .col-md-push-11 {
        left: (100%) - ((100%) / 12);
    }
    .col-md-push-10 {
        left: (100%) - ((100%) / (12 / 2));
    }
    .col-md-push-9 {
        left: (100%) - ((100%) / (12 / 3));
    }
    .col-md-push-8 {
        left: (100%) - ((100%) / (12 / 4));
    }
    .col-md-push-7 {
        left: (100%) - ((100%) / (12 / 5));
    }
    .col-md-push-6 {
        left: (100%) - ((100%) / (12 / 6));
    }
    .col-md-push-5 {
        left: (100%) - ((100%) / (12 / 7));
    }
    .col-md-push-4 {
        left: (100%) - ((100%) / (12 / 8));
    }
    .col-md-push-3 {
        left: (100%) - ((100%) / (12 / 9));
    }
    .col-md-push-2 {
        left: (100%) - ((100%) / (12 / 10));
    }
    .col-md-push-1 {
        left: (100%) - ((100%) / (12 / 11));
    }
    .col-md-push-0 {
        left: 0;
    }

    .columns-md-1 {
        -webkit-columns: 1;
        columns: 1;
    }
    .columns-md-2 {
        -webkit-columns: 2;
        columns: 2;
    }
    .columns-md-3 {
        -webkit-columns: 3;
        columns: 3;
    }
}

@media (min-width: 1200px) {

    .col-lg-12 {
        width: (100%);
    }
    .col-lg-11 {
        width: (100%) / (12 / 11);
    }
    .col-lg-10 {
        width: (100%) / (12 / 10);
    }
    .col-lg-9 {
        width: (100%) / (12 / 9);
    }
    .col-lg-8 {
        width: (100%) / (12 / 8);
    }
    .col-lg-7 {
        width: (100%) / (12 / 7);
    }
    .col-lg-6 {
        width: (100%) / (12 / 6);
    }
    .col-lg-5 {
        width: (100%) / (12 / 5);
    }
    .col-lg-4 {
        width: (100%) / (12 / 4);
    }
    .col-lg-3 {
        width: (100%) / (12 / 3);
    }
    .col-lg-2 {
        width: (100%) / (12 / 2);
    }
    .col-lg-1 {
        width: (100%) / 12;
    }

    .col-lg-pull-12 {
        right: (100%);
    }
    .col-lg-pull-11 {
        right: (100%) - ((100%) / 12);
    }
    .col-lg-pull-10 {
        right: (100%) - ((100%) / (12 / 2));
    }
    .col-lg-pull-9 {
        right: (100%) - ((100%) / (12 / 3));
    }
    .col-lg-pull-8 {
        right: (100%) - ((100%) / (12 / 4));
    }
    .col-lg-pull-7 {
        right: (100%) - ((100%) / (12 / 5));
    }
    .col-lg-pull-6 {
        right: (100%) - ((100%) / (12 / 6));
    }
    .col-lg-pull-5 {
        right: (100%) - ((100%) / (12 / 7));
    }
    .col-lg-pull-4 {
        right: (100%) - ((100%) / (12 / 8));
    }
    .col-lg-pull-3 {
        right: (100%) - ((100%) / (12 / 9));
    }
    .col-lg-pull-2 {
        right: (100%) - ((100%) / (12 / 10));
    }
    .col-lg-pull-1 {
        right: (100%) - ((100%) / (12 / 11));
    }
    .col-lg-pull-0 {
        right: 0;
    }

    .col-lg-push-12 {
        left: (100%);
    }
    .col-lg-push-11 {
        left: (100%) - ((100%) / 12);
    }
    .col-lg-push-10 {
        left: (100%) - ((100%) / (12 / 2));
    }
    .col-lg-push-9 {
        left: (100%) - ((100%) / (12 / 3));
    }
    .col-lg-push-8 {
        left: (100%) - ((100%) / (12 / 4));
    }
    .col-lg-push-7 {
        left: (100%) - ((100%) / (12 / 5));
    }
    .col-lg-push-6 {
        left: (100%) - ((100%) / (12 / 6));
    }
    .col-lg-push-5 {
        left: (100%) - ((100%) / (12 / 7));
    }
    .col-lg-push-4 {
        left: (100%) - ((100%) / (12 / 8));
    }
    .col-lg-push-3 {
        left: (100%) - ((100%) / (12 / 9));
    }
    .col-lg-push-2 {
        left: (100%) - ((100%) / (12 / 10));
    }
    .col-lg-push-1 {
        left: (100%) - ((100%) / (12 / 11));
    }
    .col-lg-push-0 {
        left: 0;
    }

    .columns-lg-1 {
        -webkit-columns: 1;
        columns: 1;
    }
    .columns-lg-2 {
        -webkit-columns: 2;
        columns: 2;
    }
    .columns-lg-3 {
        -webkit-columns: 3;
        columns: 3;
    }
}



.b-table {
    display: table;
    width: 100%; height: auto;
}

.b-table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;

    &-schedule &__cel {
        padding: 0;
        background: #f2f2f2;
        border: 1px solid;
        border-color: #fff #eee #fff #eee;
    }

    &-schedule &__head &__cel {
        padding: 0;
        font-size: 11px;
        font-weight: normal;
        text-align: left;
        border-color: transparent;
        border-bottom-color: #fff;
    }
    &-schedule &__body &__cel {
        &_first {
            border-left: 1px solid #fff;
        }
        &_last {
            border-right: 1px solid #d2d2d2;
        }
    }
    &-schedule &__body &-schedule__cel_title {
        border-left: 1px solid #fff;
    }


    &__body_last &__cel {
        border-bottom: 1px solid #d2d2d2;
    }

    &-schedule &__body {
        box-shadow: 0 0 0 5px #f2f2f2;
    }

    &-schedule &__body._isStarted &__cel {
        background-color: #e2e2e2;
    }

    &-schedule {

        &__caption {
            height: 50px;
            margin: 0;
            padding: 0; padding-bottom: 20px;
            border: 1px solid transparent;
        }

        &__caption-title {
            float: left;
            width: 27%;
            padding-right: 15px;
            & > button {
                width: 100%;
                line-height: 28px;
            }
        }

        &__caption-nav {
            float: left;
            position: relative;
            width: 73%;
        }
            &__caption-nav-prev,
            &__caption-nav-next,
            &__caption-nav-mode {
                position: absolute; top: 0;
                width: (100%)/3;
                line-height: 30px;
                & > a {
                    display: inline-block;
                    padding: 0 10px;
                }
            }
            &__caption-nav-prev,
            &__caption-nav-next {

            }
            &__caption-nav-prev {
                left: 0;
                text-align: right;
                border-left: 1px solid #e2e2e2;
                & > a {
                    display: block;
                    width: 100%;
                    line-height: 30px;
                    &:hover {
                        background: #e2e2e2;
                    }
                }
            }
            &__caption-nav-mode {
                left: (100%)/3;
            }
            &__caption-nav-next {
                right: 0;
                text-align: left;
                border-right: 1px solid #e2e2e2;
                & > a {
                    display: block;
                    width: 100%;
                    line-height: 30px;
                    &:hover {
                        background: #e2e2e2;
                    }
                }
            }

        &__cel {
            position: relative;
            width: 100%; height: 32px;
            background: #e2e2e2;

            &_title {
                width: 27%;
            }

            &_chunk {

            }
        }

        &__cel-interval {
            position: absolute; top: 3px; bottom: 3px;
            width: auto; min-width: 1px;
            background: #4082C4;

            &:not(._isBegin) {
                left: -1px !important;
            }
            &:not(._isEnd) {
                right: -1px !important;
            }

            &._isStarted {
                background-color: orange !important;
            }
        }

        &__chunk-head {

            &__head {
                display: block;
                position: relative;
                width: 100%; height: 20px;
                text-align: center;

                & > a {
                    display: block;
                    position: relative; z-index: 3;
                    width: 100%; height: 100%;

                    &:hover {
                        background-color: rgba(0,0,0,.05);
                    }
                }

                & > label {
                    display: block;
                    position: absolute; top: 0; left: -50%;
                    width: 100%;
                    margin-left: -1px;
                    line-height: 20px;
                }
            }

        }

        &__cel_chunk-even &__chunk-head__head > label {
            display: none;
        }

        &__cel_chunk-first &__chunk-head__head > label {
            display: none !important;
        }

        &__issue-title {
            display: block;
            position: relative;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 20px;
            & > a {
                display: block;
                position: relative;
                width: 100%; height: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & > button {
                position: absolute; top: 0; right: 0;
                width: 22px; height: 22px;
            }
        }
    }
}


@media (min-width: 992px) {
    .b-table-schedule {
        &__caption-title {
            float: left;
            width: 24%;
        }
        &__caption-nav {
            float: left;
            width: 76%;
        }
        &__cel_title {
            width: 24%;
        }
    }
}

@media (min-width: 1200px) {
    .b-table-schedule {
        &__cel_title {
            width: 21%;
        }
        &__cel_chunk-even &__chunk-head__head > label {
            display: block;
        }
        &__caption-title {
            float: left;
            width: 21%;
        }
        &__caption-nav {
            float: left;
            width: 79%;
        }
    }
}



.app-overlay {
    &__bg {
        position: fixed; top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(255,255,255,.68);
    }
    &__dialog {

    }
}

.app-dialog {
    position: fixed; top: 110px; right: 30px; left: 30px;
    width: auto; height: auto;
    border: 1px solid;
    border-color: #fff #b2b2b2 #b2b2b2 #fff;
    box-shadow: 0 1px 7px -3px rgba(0,0,0,.73);
    overflow: hidden; overflow-y: auto;

    &__head {
        padding: 10px 15px;
        line-height: 30px;
        background: #e2e2e2;
    }

    &__body {
        padding: 10px 15px;
        line-height: 20px;
        background: #f2f2f2;
    }
}
