<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Таблицы и таблицы</title>
    <link rel="stylesheet" href="styles/index.css">
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/angular-i18n/angular-locale_ru.js"></script>
    <script src="components/localforage/dist/localforage.nopromises.min.js"></script>
    <script src="scripts/bTable.js"></script>
    <script src="scripts/index1.js"></script>
  </head>
  <body>
    <div app ng-app="Caeruleus1" ng-cloak class="b-app">
      <div class="b-app__view">
        <div class="b-app__view-inner">
          <div class="b-app__head">
            <div class="b-app__head-hero">
              <!--.row
              .col.col-xs-12 12
              
              -->
            </div>
            <div class="b-app__head-menu">
              <!--.row
              .col.col-xs-12 12
              
              -->
            </div>
          </div>
          <div class="b-app__body">
            <div class="b-app__body-page">
              <div ng-controller="TableCtrl as table" class="row">
                <div class="col col-xs-12">
                  <button ng-click="table.showAsList()">as list</button>
                  <button ng-click="table.showAsTree()">as tree</button>
                </div>
                <b-table table-cols="table.cols" table-rows="table.rows">
                  <!-- caption-->
                  <b-table-template id="caption" use="['bTable']">
                    <div class="row">
                      <div class="col col-xs-12">   </div>
                    </div>
                  </b-table-template>
                  <b-table-template id="caption" use="['bTable']">
                    <div class="row">
                      <div class="col col-xs-3">caption here...</div>
                      <div class="col col-xs-9">here...</div>
                    </div>
                  </b-table-template>
                  <b-table-template id="caption" use="['bTable']">
                    <div class="row">
                      <div class="col col-xs-12"> </div>
                    </div>
                  </b-table-template>
                  <!--head-->
                  <b-table-template id="head-title" use="['bTable']">
                    <div>title here...</div>
                  </b-table-template>
                  <b-table-template id="head-col" use="['bTable','tableCol','$index']">
                    <div>{{$index}}</div>
                  </b-table-template>
                  <!-- body group-->
                  <b-table-template id="body-group-title" use="['bTable','tableRow']">{{tableRow.group.title}} <a ng-hide="tableRow.group.shown" ng-click="showGroup(tableRow.group)">show</a><a ng-show="tableRow.group.shown" ng-click="hideGroup(tableRow.group)">hide</a></b-table-template>
                  <!-- body-->
                  <b-table-template id="body-title" use="['bTable','tableRow', '$index']"><a ng-click="">
                      <u>row{{$index}}</u></a></b-table-template>
                  <b-table-template id="body-col" use="['bTable','tableRow','tableCol','$index']">
                    <div class="row">
                      <div class="col col-xs-12">{{$index}}</div>
                    </div>
                  </b-table-template>
                </b-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>