<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Таски, таски, таски</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="components/aeTable/release/styles/bTable.css">
    <link rel="stylesheet" href="components/aeTimeline/release/styles/bTimeline.css">
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/angular-i18n/angular-locale_ru.js"></script>
    <script src="components/localforage/dist/localforage.nopromises.min.js"></script>
    <script src="components/aeTable/release/scripts/bTable.min.js"></script>
    <script src="components/aeTimeline/release/scripts/bTimeline.min.js"></script>
    <script src="scripts/index.js"></script>
  </head>
  <body>
    <div app ng-app="Caeruleus" class="b-app">
      <div ng-view></div>
      <div ng-if="isRoute('schedule')" ng-controller="ScheduleCtrl as schedule" class="b-app__view">
        <div class="b-app__view-inner">
          <div class="b-app__head">
            <div class="b-app__head-hero">
              <!--.row
              .col.col-xs-12 12
              
              -->
            </div>
            <div class="b-app__head-menu">
              <!--.row
              .col.col-xs-12 12
              
              -->
            </div>
          </div>
          <div class="b-app__body">
            <div class="b-app__body-page">
              <div class="row">
                <b-table table-cols="chunks" table-rows="matchedIssues">
                  <!-- caption-->
                  <b-table-template id="caption" use="['bTable']">
                    <div class="row">
                      <div class="col col-xs-12">   </div>
                    </div>
                  </b-table-template>
                  <b-table-template id="caption" use="['bTable']">
                    <div class="row">
                      <div class="col col-xs-3">
                        <div class="b-table-schedule__caption-title">
                          <button ng-click="selectedIssue={};appDialogToggle('IssueFormDialog')">Add issue</button>
                        </div>
                      </div>
                      <div class="col col-xs-9">
                        <div class="row">
                          <div class="col col-xs-4">
                            <div ng-if="schedule.mode=='week'" class="b-table-schedule__caption-nav b-table-schedule__caption-nav_prev"><a ng-href="#/?view=week&amp;date={{getPrevWeekDate().toUTCString()}}">←←←</a></div>
                            <div ng-if="schedule.mode=='day'" class="b-table-schedule__caption-nav b-table-schedule__caption-nav_prev"><a ng-href="#/?view=day&amp;date={{getPrevDayDate().toUTCString()}}">←←</a></div>
                            <div ng-if="schedule.mode=='hour'" class="b-table-schedule__caption-nav b-table-schedule__caption-nav_prev"><a ng-href="#/?view=hour&amp;date={{getPrevHourDate().toUTCString()}}">←</a></div>
                          </div>
                          <div class="col col-xs-4">
                            <div class="b-table-schedule__caption-nav b-table-schedule__caption-nav_mode"><a href="#/?view=hour" ng-class="{_active:schedule.mode=='hour'}" style="padding: 0 15px;">
                                <u>HOUR</u></a><a href="#/?view=day" ng-class="{_active:schedule.mode=='day'}" style="padding: 0 15px;">
                                <u>DAY</u></a><a href="#/?view=week" ng-class="{_active:schedule.mode=='week'}" style="padding: 0 15px;">
                                <u>WEEK</u></a></div>
                          </div>
                          <div class="col col-xs-4">
                            <div ng-if="schedule.mode=='hour'" class="b-table-schedule__caption-nav b-table-schedule__caption-nav_next"><a ng-href="#/?view=hour&amp;date={{getNextHourDate().toUTCString()}}">→</a></div>
                            <div ng-if="schedule.mode=='day'" class="b-table-schedule__caption-nav b-table-schedule__caption-nav_next"><a ng-href="#/?view=day&amp;date={{getNextDayDate().toUTCString()}}">→→</a></div>
                            <div ng-if="schedule.mode=='week'" class="b-table-schedule__caption-nav b-table-schedule__caption-nav_next"><a ng-href="#/?view=week&amp;date={{getNextWeekDate().toUTCString()}}">→→→</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </b-table-template>
                  <b-table-template id="caption" use="['bTable']">
                    <div class="row">
                      <div class="col col-xs-3">
                        <div class="b-table-schedule__caption-menu">
                          <div style="float:left; margin-right:10px;"><a class="_active">Open</a></div>
                          <div style="float:left; margin-right:10px;"><a>Closed  </a></div>
                        </div>
                      </div>
                    </div>
                  </b-table-template>
                  <!--head-->
                  <b-table-template id="head-col" use="['bTable','tableCol','$index']">
                    <div class="row">
                      <div ng-if="schedule.mode=='hour'" class="b-table-schedule-head-date"><b>{{tableCol.beginDate | date:'HH:mm'}}</b></div>
                      <div ng-if="schedule.mode=='day'" class="b-table-schedule-head-date"><b>{{tableCol.beginDate | date:'HH:mm'}}</b><a ng-href="#/?view=hour&amp;date={{tableCol.beginDate.toUTCString()}}"></a></div>
                      <div ng-if="schedule.mode=='week'" class="b-table-schedule-head-date"><b>{{tableCol.beginDate | date:'MM.dd'}}</b><a ng-href="#/?view=day&amp;date={{tableCol.beginDate.toUTCString()}}"></a></div>
                    </div>
                  </b-table-template>
                  <!-- body group-->
                  <b-table-template id="body-group-title" use="['bTable','tableRow']">{{tableRow.group.title}} <a ng-hide="tableRow.group.shown" ng-click="showGroup(tableRow.group)">show</a><a ng-show="tableRow.group.shown" ng-click="hideGroup(tableRow.group)">hide</a></b-table-template>
                  <!-- body-->
                  <b-table-template id="body-title" use="['bTable','tableRow', '$index']"><a ng-click="selectIssue(tableRow); appDialogToggle('IssueViewDialog')">
                      <u>{{tableRow.title}}</u></a></b-table-template>
                  <b-table-template id="body-col" use="['bTable','tableRow','tableCol','$index']">
                    <div class="row">
                      <b-timeline timeline-begin-date="tableCol.beginDate" timeline-end-date="tableCol.endDate" timeline-intervals="tableRow.intervals"></b-timeline>
                    </div>
                  </b-table-template>
                </b-table>
              </div>
              <div class="row">
                <div class="col col-xs-12"> </div>
                <div class="col col-xs-12">
                  <ul class="b-tags">
                    <li ng-repeat="tag in tagsIdx" class="b-tags__tag"><a ng-class="{'b-tag__active':selectedTags[tag.name]}" ng-click="selectTag(tag)||unselectTag(tag)" class="b-tag">{{tag.name}}</a><span ng-if="!$last">,</span></li>
                  </ul>
                </div>
              </div>
              <div app-dialog="IssueFormDialog" ng-form="IssueForm" ng-controller="IssueFormCtrl" class="app-dialog">
                <div class="app-dialog__head">
                  <div class="app-dialog__heading">New issue</div>
                </div>
                <div class="app-dialog__body">
                  <div class="row">
                    <div class="col col-xs-12 col-md-4 col-md-push-8">
                      <div class="row">
                        <div class="col col-xs-12"><span ng-repeat="tag in selectedIssueTags"><a>{{tag.name}}</a><span ng-if="!$last">, </span></span></div>
                      </div>
                    </div>
                    <fieldset class="app-form col col-xs-12 col-md-8 col-md-pull-4">
                      <div class="row">
                        <label required class="col col-xs-3 col-lg-2">Title</label>
                        <input name="title" ng-model="selectedIssue.title" required class="col col-xs-9 col-lg-10">
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2">Tags</label>
                        <input name="tags" ng-model="selectedIssue.tags" ng-list class="col col-xs-9 col-lg-10">
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2">Details</label>
                        <textarea name="content" ng-model="selectedIssue.content" rows="{{((selectedIssue.content.split('
').length + 1) &gt; 7 &amp;&amp; selectedIssue.content.split('
').length + 1) || 7}}" class="col col-xs-9 col-lg-10"></textarea>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="app-dialog__foot">
                  <div class="row">
                    <div class="col col-xs-12 col-md-8">
                      <div class="row">
                        <div class="col col-xs-3 col-lg-2"> </div>
                        <button ng-click="saveIssue(selectedIssue, IssueForm)" ng-disabled="IssueForm.$invalid" class="col col-xs-5 col-lg-5">Submit new issue</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div app-dialog="IssueViewDialog" ng-form="IssueForm" ng-controller="IssueFormCtrl" class="app-dialog">
                <div class="app-dialog__head">
                  <div class="app-dialog__heading">Issue 
                    <button ng-show="'edit'==AppDialog.mode" ng-click="AppDialog.mode='view'">view</button>
                    <button ng-show="'view'==AppDialog.mode" ng-click="AppDialog.mode='edit'">edit</button>
                    <button ng-show="'edit'==AppDialog.mode" ng-click="deleteIssue(selectedIssue)">delete</button>
                    <button ng-if="!selectedIssue.startedAt" ng-click="startWork(selectedIssue)">► Start work</button>
                    <button ng-if="selectedIssue.startedAt" ng-click="stopWork(selectedIssue)">■ Stop work</button>
                  </div>
                </div>
                <div ng-show="'view'==AppDialog.mode" class="app-dialog__body">
                  <div class="row">
                    <div class="col col-xs-12 col-md-4 col-md-push-8">
                      <div class="row">
                        <div class="col col-xs-12"><span ng-repeat="tag in selectedIssueTags"><a>{{tag.name}}</a><span ng-if="!$last">, </span></span></div>
                      </div>
                    </div>
                    <div class="app-form col col-xs-12 col-md-8 col-md-pull-4">
                      <div class="row">
                        <div class="col col-xs-3 col-lg-2"> </div>
                        <div class="col col-xs-9 col-lg-10"><strong>{{selectedIssue.title}}</strong></div>
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2"> </label>
                        <div class="col col-xs-9 col-lg-10"><span>{{selectedIssue.content}}</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="'edit'==AppDialog.mode" class="app-dialog__body">
                  <div class="row">
                    <div class="col col-xs-12 col-md-4 col-md-push-8">
                      <div class="row">
                        <div class="col col-xs-12"><span ng-repeat="tag in selectedIssueTags"><a>{{tag.name}}</a><span ng-if="!$last">, </span></span></div>
                      </div>
                    </div>
                    <fieldset class="app-form col col-xs-12 col-md-8 col-md-pull-4">
                      <div class="row">
                        <label required class="col col-xs-3 col-lg-2">Title</label>
                        <input name="title" ng-model="selectedIssue.title" required class="col col-xs-9 col-lg-10">
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2">Tags</label>
                        <input name="tags" ng-model="selectedIssue.tags" ng-list class="col col-xs-9 col-lg-10">
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2">Details</label>
                        <textarea name="content" ng-model="selectedIssue.content" rows="{{((selectedIssue.content.split('
').length + 1) &gt; 7 &amp;&amp; selectedIssue.content.split('
').length + 1) || 7}}" class="col col-xs-9 col-lg-10"></textarea>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div ng-show="'edit'==AppDialog.mode||IssueForm.$dirty" class="app-dialog__foot">
                  <div class="row">
                    <div class="col col-xs-12 col-md-8">
                      <div class="row">
                        <div class="col col-xs-3 col-lg-2"> </div>
                        <button ng-click="saveIssue(selectedIssue, IssueForm)" ng-disabled="IssueForm.$invalid" class="col col-xs-5 col-lg-6">Save issue</button>
                        <button ng-click="mode='view';" class="col col-xs-2 col-lg-2">Cancel</button>
                        <button ng-click="mode='view';AppDialog.resolve(false)" class="col col-xs-2 col-lg-2">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-repeat="(key, dialog) in dialogs" ng-if="dialog.$shown" ng-controller="AppDialogCtrl as AppDialog" class="app-overlay">
        <div ng-click="AppDialog.resolve(false)" class="app-overlay__bg"></div>
        <div app-dialog-transclude="{{key}}" class="app-overlay__dialog"></div>
      </div>
    </div>
  </body>
</html>