<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Таски, таски, таски</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="components/aeApp/release/styles/bApp.css">
    <link rel="stylesheet" href="components/aeTimeline/release/styles/bTimeline.css">
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-route/angular-route.min.js"></script>
    <script src="components/localforage/dist/localforage.nopromises.min.js"></script>
    <script src="components/aeApp/release/scripts/bApp.min.js"></script>
    <script src="components/aeTimeline/release/scripts/bTimeline.min.js"></script>
    <script src="scripts/index.js"></script>
  </head>
  <body>
    <div b-app ng-app="Caeruleus" class="b-app">
      <div ng-view></div>
      <div ng-if="isRoute('projects')" ng-controller="CaeruleusProjectsCtrl as projects" class="b-app__view">
        <div class="b-app__view-inner">
          <div class="b-app__head">
            <div class="b-app__head-hero">
              <div class="row">
                <div class="col col-xs-12">
                  <nav><a>Проекты</a><a href="#/tags">Теги</a><a href="#/">Таймлайн</a></nav>
                </div>
              </div>
            </div>
            <div class="b-app__head-menu">
              <!--.row
              .col.col-xs-12 12
              
              -->
            </div>
          </div>
          <div class="b-app__body">
            <div class="b-app__body-page"></div>
          </div>
        </div>
      </div>
      <div ng-if="isRoute('tags')" ng-controller="CaeruleusTagsCtrl as tagsCtrl" class="b-app__view">
        <div class="b-app__view-inner">
          <div class="b-app__head">
            <div class="b-app__head-hero">
              <div class="row">
                <div class="col col-xs-12">
                  <nav>
                    <!--a(href='#/projects') Проекты--><a>Теги</a><a href="#/">Таймлайн</a>
                  </nav>
                </div>
              </div>
            </div>
            <div class="b-app__head-menu">
              <!--.row
              .col.col-xs-12 12
              
              -->
            </div>
          </div>
          <div class="b-app__body">
            <div class="b-app__body-page">
              <div class="row">
                <div class="col col-xs-12">
                  <div class="b-tags b-tags_index columns-xs-3">
                    <div ng-repeat="tag in tags" class="b-tags__tag">
                      <div class="b-tag">
                        <div class="b-tag__name">{{tag.name}}</div>
                      </div>
                      <div class="b-tags__tag-btn"><a ng-click="tagsCtrl.deleteTag(tag)">×</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="isRoute('schedule')" ng-controller="CaeruleusCtrl as schedule" class="b-app__view">
        <div class="b-app__view-inner">
          <div class="b-app__head">
            <div class="b-app__head-hero">
              <div class="row">
                <div class="col col-xs-12">
                  <nav>
                    <!--a(href='#/projects') Проекты--><a href="#/tags">Теги</a><a>Таймлайн</a>
                  </nav>
                </div>
              </div>
            </div>
            <div class="b-app__head-menu">
              <!--.row
              .col.col-xs-12 12
              
              -->
            </div>
          </div>
          <div class="b-app__body">
            <div class="b-app__body-page">
              <div class="row">
                <div class="col col-xs-3">
                  <div class="b-schedule__caption-title">
                    <button ng-click="selectedIssue={};appDialogToggle('IssueFormDialog')">Add issue</button>
                  </div>
                  <div class="b-schedule__caption-issue"><a ng-class="{_active:filterByState=='open'}" ng-click="filterIssueByState('open')">open</a><a ng-class="{_active:filterByState=='closed'}" ng-click="filterIssueByState('closed')">closed</a></div>
                </div>
                <div class="col col-xs-9">
                  <div class="row">
                    <div class="col col-xs-4">
                      <div ng-if="schedule.mode=='week'" class="b-schedule__caption-nav b-schedule__caption-nav_prev"><a ng-href="#/?view=week&amp;date={{getPrevWeekDate().toUTCString()}}">←←←</a></div>
                      <div ng-if="schedule.mode=='day'" class="b-schedule__caption-nav b-schedule__caption-nav_prev"><a ng-href="#/?view=day&amp;date={{getPrevDayDate().toUTCString()}}">←←</a></div>
                      <div ng-if="schedule.mode=='hour'" class="b-schedule__caption-nav b-schedule__caption-nav_prev"><a ng-href="#/?view=hour&amp;date={{getPrevHourDate().toUTCString()}}">←</a></div>
                    </div>
                    <div class="col col-xs-4">
                      <div class="b-schedule__caption-nav b-schedule__caption-nav_mode"><a href="#/?view=hour" ng-class="{_active:schedule.mode=='hour'}" style="padding: 0 15px;">
                          <u>HOUR</u></a><a href="#/?view=day" ng-class="{_active:schedule.mode=='day'}" style="padding: 0 15px;">
                          <u>DAY</u></a><a href="#/?view=week" ng-class="{_active:schedule.mode=='week'}" style="padding: 0 15px;">
                          <u>WEEK</u></a></div>
                    </div>
                    <div class="col col-xs-4">
                      <div ng-if="schedule.mode=='hour'" class="b-schedule__caption-nav b-schedule__caption-nav_next"><a ng-href="#/?view=hour&amp;date={{getNextHourDate().toUTCString()}}">→</a></div>
                      <div ng-if="schedule.mode=='day'" class="b-schedule__caption-nav b-schedule__caption-nav_next"><a ng-href="#/?view=day&amp;date={{getNextDayDate().toUTCString()}}">→→</a></div>
                      <div ng-if="schedule.mode=='week'" class="b-schedule__caption-nav b-schedule__caption-nav_next"><a ng-href="#/?view=week&amp;date={{getNextWeekDate().toUTCString()}}">→→→</a></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-xs-12">
                      <div class="b-schedule__caption-interval">{{getBeginDate()|date:'dd.MM.yyyy HH:mm'}} — {{getEndDate()|date:'dd.MM.yyyy HH:mm'}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div ng-if="schedule.mode=='hour'||schedule.mode=='day'||schedule.mode=='week'" ng-class="{'b-schedule_hour':schedule.mode=='hour','b-schedule_day':schedule.mode=='day','b-schedule_week':schedule.mode=='week'}" class="b-schedule">
                  <div class="b-schedule__head">
                    <div class="b-schedule__row">
                      <div class="b-schedule__col b-schedule__col_title"></div>
                      <div class="b-schedule__col b-schedule__col_timeline">
                        <div class="b-schedule-chunks">
                          <div ng-repeat="chunk in chunks" ng-class="{'b-schedule-chunks__chunk_now':isNowInterval(chunk)}" class="b-schedule-chunks__chunk">
                            <div ng-if="schedule.mode=='hour'">
                              <!--b: small {{chunk.beginDate|date:'HH:mm'}}--><a>{{chunk.beginDate|date:'mm'}}</a>
                            </div>
                            <div ng-if="schedule.mode=='day'">
                              <!--b: small {{chunk.beginDate|date:'HH:mm'}}--><a ng-href="#/?view=hour&amp;date={{chunk.beginDate.toUTCString()}}">{{chunk.beginDate|date:'HH'}}</a>
                            </div>
                            <div ng-if="schedule.mode=='week'">
                              <!--b: small {{chunk.beginDate|date:'dd.MM'}}--><a ng-href="#/?view=day&amp;date={{chunk.beginDate.toUTCString()}}">{{chunk.beginDate|date:'dd'}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-repeat="issue in matchedIssues | filter:filterIssue track by issue.guid" class="b-schedule__body">
                    <div class="b-schedule__row">
                      <div class="b-schedule__col b-schedule__col_title"><a ng-click="pickIssue(issue); appDialogToggle('IssueViewDialog')">
                          <u>{{issue.title}}</u></a></div>
                      <div class="b-schedule__col b-schedule__col_timeline">
                        <div b-timeline timeline-begin-date="getBeginDate()" timeline-end-date="getEndDate()" timeline-intervals="issue.intervals" class="b-schedule-timeline">
                          <div b-timeline-template="interval" use="['bTimeline','interval']">
                            <div b-timeline-interval>
                              <div b-timeline-interval-template="interval" use="['bTimelineInterval']">
                                <div ng-if="pickedIssueInterval(issue, interval)" ng-style="{left:bTimeline.calcIntervalLeft($pickedIssueIntervalDraft),right:bTimeline.calcIntervalRight($pickedIssueIntervalDraft)}" class="b-timeline-interval__interval b-timeline-interval__interval_draft">
                                  <div class="b-timeline-interval__interval__btn"></div>
                                </div>
                                <div ng-class="{'b-timeline-interval__interval_orign':pickedIssueInterval(issue, interval)}" ng-style="{left:bTimeline.calcIntervalLeft(interval),right:bTimeline.calcIntervalRight(interval)}" class="b-timeline-interval__interval">
                                  <div ng-click="pickIssueInterval(issue, interval)" class="b-timeline-interval__interval__btn"></div>
                                  <div ng-if="pickedIssueInterval(issue, interval)" ng-click="$event.stopPropagation()" class="b-timeline-interval__interval__form">
                                    <div class="b-timeline-interval-form">
                                      <div class="b-timeline-interval-form__main">
                                        <div b-input-datetime class="b-input-datetime">
                                          <div class="b-input-datetime__t">
                                            <div class="b-input-datetime__t__c b-input-datetime__t__c_input">
                                              <div class="b-input-date">
                                                <div class="b-input-date__btn b-input-date__btn_next">
                                                  <button ng-click="incrBeginHours($pickedIssueIntervalDraft)">+</button>
                                                </div>
                                                <div class="b-input-date__input">
                                                  <input readonly value="{{$pickedIssueIntervalDraft.beginDate|date:'HH'}}">
                                                </div>
                                                <div class="b-input-date__btn b-input-date__btn_prev">
                                                  <button ng-click="decrBeginHours($pickedIssueIntervalDraft)">−</button>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="b-input-datetime__t__c b-input-datetime__t__c_label">&#x3A;</div>
                                            <div class="b-input-datetime__t__c b-input-datetime__t__c_input">
                                              <div class="b-input-date">
                                                <div class="b-input-date__btn b-input-date__btn_next">
                                                  <button ng-click="incrBeginMinutes($pickedIssueIntervalDraft)">+</button>
                                                </div>
                                                <div class="b-input-date__input">
                                                  <input readonly value="{{$pickedIssueIntervalDraft.beginDate|date:'mm'}}">
                                                </div>
                                                <div class="b-input-date__btn b-input-date__btn_prev">
                                                  <button ng-click="decrBeginMinutes($pickedIssueIntervalDraft)">−</button>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="b-input-datetime__t__c b-input-datetime__t__c_label">&mdash;</div>
                                            <div class="b-input-datetime__t__c b-input-datetime__t__c_input">
                                              <div class="b-input-date">
                                                <div class="b-input-date__btn b-input-date__btn_next">
                                                  <button ng-click="incrEndHours($pickedIssueIntervalDraft)">+</button>
                                                </div>
                                                <div class="b-input-date__input">
                                                  <input readonly value="{{$pickedIssueIntervalDraft.endDate|date:'HH'}}">
                                                </div>
                                                <div class="b-input-date__btn b-input-date__btn_prev">
                                                  <button ng-click="decrEndHours($pickedIssueIntervalDraft)">−</button>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="b-input-datetime__t__c b-input-datetime__t__c_label">&#x3A;</div>
                                            <div class="b-input-datetime__t__c b-input-datetime__t__c_input">
                                              <div class="b-input-date">
                                                <div class="b-input-date__btn b-input-date__btn_next">
                                                  <button ng-click="incrEndMinutes($pickedIssueIntervalDraft)">+</button>
                                                </div>
                                                <div class="b-input-date__input">
                                                  <input readonly value="{{$pickedIssueIntervalDraft.endDate|date:'mm'}}">
                                                </div>
                                                <div class="b-input-date__btn b-input-date__btn_prev">
                                                  <button ng-click="decrEndMinutes($pickedIssueIntervalDraft)">−</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <button ng-click="saveIssueInterval(issue, interval);" ng-disabled="pristinePickedIssueInterval(issue, interval)">save interval</button>
                                        <button ng-click="deleteIssueInterval(issue, interval)">delete</button>
                                        <button ng-click="unpickIssueInterval(issue, interval)">close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="b-schedule-chunks">
                          <div ng-repeat="chunk in chunks" class="b-schedule-chunks__chunk">
                            <div ng-click="pickIssueTimeline(issue, chunk)" class="b-schedule-chunks__chunk__btn"></div>
                            <div ng-if="pickedIssueTimeline(issue, chunk)" ng-click="$event.stopPropagation()" class="b-timeline-interval-form">
                              <div class="b-timeline-interval-form__main">
                                <button ng-click="createIssueInterval(issue, chunk)">create interval</button>
                                <button ng-click="unpickIssueTimeline(issue, chunk)">close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-xs-12"> </div>
                <div class="col col-xs-12">
                  <ul class="b-tags">
                    <li ng-repeat="tag in tagsIdx" class="b-tags__tag"><a ng-class="{'b-tag__active':selectedTags[tag.name]}" ng-click="selectTag(tag)||unselectTag(tag)" class="b-tag">{{tag.name}}</a><span ng-if="!$last">,</span></li>
                  </ul>
                </div>
              </div>
              <div b-app-dialog="IssueFormDialog" ng-form="IssueForm" ng-controller="IssueFormCtrl" class="app-dialog">
                <div class="app-dialog__head">
                  <div class="app-dialog__heading">New issue</div>
                </div>
                <div class="app-dialog__body">
                  <div class="row">
                    <div class="col col-xs-12 col-md-4 col-md-push-8">
                      <div class="row">
                        <div class="col col-xs-12"><span>
                            <select ng-model="selectedIssue.state" ng-options="state for state in ['open','closed']" required></select></span></div>
                      </div>
                      <div class="row">
                        <div class="col col-xs-12"><span ng-repeat="tag in selectedIssueTags"><a>{{tag.name}}</a><span ng-if="!$last">, </span></span></div>
                      </div>
                    </div>
                    <fieldset class="app-form col col-xs-12 col-md-8 col-md-pull-4">
                      <div class="row">
                        <label required class="col col-xs-3 col-lg-2">Title</label>
                        <input name="title" ng-model="selectedIssue.title" required class="col col-xs-9 col-lg-10">
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2">Tags</label>
                        <input name="tags" ng-model="selectedIssue.tags" ng-list class="col col-xs-9 col-lg-10">
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2">Details</label>
                        <textarea name="content" ng-model="selectedIssue.content" rows="{{((selectedIssue.content.split('
').length + 1) &gt; 7 &amp;&amp; selectedIssue.content.split('
').length + 1) || 7}}" class="col col-xs-9 col-lg-10"></textarea>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="app-dialog__foot">
                  <div class="row">
                    <div class="col col-xs-12 col-md-8">
                      <div class="row">
                        <div class="col col-xs-3 col-lg-2"> </div>
                        <button ng-click="saveIssue(selectedIssue, IssueForm)" ng-disabled="IssueForm.$invalid" class="col col-xs-5 col-lg-5">Submit new issue</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div b-app-dialog="IssueViewDialog" ng-form="IssueForm" ng-controller="IssueFormCtrl" class="app-dialog">
                <div class="app-dialog__head">
                  <div class="app-dialog__heading">Issue 
                    <button ng-show="'edit'==AppDialog.mode" ng-click="AppDialog.mode='view'">view</button>
                    <button ng-show="'view'==AppDialog.mode" ng-click="AppDialog.mode='edit'">edit</button>
                    <button ng-show="'edit'==AppDialog.mode" ng-click="deleteIssue(selectedIssue)">delete</button>
                    <button ng-if="!selectedIssue.startedAt" ng-click="startWork(selectedIssue)">► Start work</button>
                    <button ng-if="selectedIssue.startedAt" ng-click="stopWork(selectedIssue)">■ Stop work</button>
                  </div>
                </div>
                <div ng-show="'view'==AppDialog.mode" class="app-dialog__body">
                  <div class="row">
                    <div class="col col-xs-12 col-md-4 col-md-push-8">
                      <div class="row">
                        <div class="col col-xs-12"><span>
                            <select ng-model="selectedIssue.state" ng-options="state for state in ['open','closed']" required></select></span></div>
                      </div>
                      <div class="row">
                        <div class="col col-xs-12"><span ng-repeat="tag in selectedIssueTags"><a>{{tag.name}}</a><span ng-if="!$last">, </span></span></div>
                      </div>
                    </div>
                    <div class="app-form col col-xs-12 col-md-8 col-md-pull-4">
                      <div class="row">
                        <div class="col col-xs-3 col-lg-2"> </div>
                        <div class="col col-xs-9 col-lg-10"><strong>{{selectedIssue.title}}</strong></div>
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2"> </label>
                        <div class="col col-xs-9 col-lg-10"><span>{{selectedIssue.content}}</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="'edit'==AppDialog.mode" class="app-dialog__body">
                  <div class="row">
                    <div class="col col-xs-12 col-md-4 col-md-push-8">
                      <div class="row">
                        <div class="col col-xs-12"><span ng-repeat="tag in selectedIssueTags"><a>{{tag.name}}</a><span ng-if="!$last">, </span></span></div>
                      </div>
                    </div>
                    <fieldset class="app-form col col-xs-12 col-md-8 col-md-pull-4">
                      <div class="row">
                        <label required class="col col-xs-3 col-lg-2">Title</label>
                        <input name="title" ng-model="selectedIssue.title" required class="col col-xs-9 col-lg-10">
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2">Tags</label>
                        <input name="tags" ng-model="selectedIssue.tags" ng-list class="col col-xs-9 col-lg-10">
                      </div>
                      <div class="row">
                        <label class="col col-xs-3 col-lg-2">Details</label>
                        <textarea name="content" ng-model="selectedIssue.content" rows="{{((selectedIssue.content.split('
').length + 1) &gt; 7 &amp;&amp; selectedIssue.content.split('
').length + 1) || 7}}" class="col col-xs-9 col-lg-10"></textarea>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div ng-show="'edit'==AppDialog.mode||IssueForm.$dirty" class="app-dialog__foot">
                  <div class="row">
                    <div class="col col-xs-12 col-md-8">
                      <div class="row">
                        <div class="col col-xs-3 col-lg-2"> </div>
                        <button ng-click="saveIssue(selectedIssue, IssueForm)" ng-disabled="IssueForm.$invalid" class="col col-xs-5 col-lg-6">Save issue</button>
                        <button ng-click="mode='view';" class="col col-xs-2 col-lg-2">Cancel</button>
                        <button ng-click="mode='view';AppDialog.resolve(false)" class="col col-xs-2 col-lg-2">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-repeat="(key, dialog) in dialogs" ng-if="dialog.$shown" ng-controller="AppDialogCtrl as AppDialog" class="app-overlay">
        <div ng-click="AppDialog.resolve(false)" class="app-overlay__bg"></div>
        <div b-app-dialog-transclude="{{key}}" class="app-overlay__dialog"></div>
      </div>
    </div>
  </body>
</html>